.aplus-container {
    background-color: #FF7F7E;
}

.a-container {
    background-color: #FF9F7F;
}

.aminus-container {
    background-color: #FFBF7F;
}

.bplus-container {
    background-color: #FFDF7F;
}

.b-container {
    background-color: #FEFF7F;
}

.bminus-container {
    background-color: #BEFF80;
}

.cplus-container {
    background-color: #7EFF80;
}

.c-container {
    background-color: #7FFFC0;
}

.cminus-container {
    background-color: #7FFFFF;
}

.dplus-container {
    background-color: #80BFFF;
}

.d-container {
    background-color: #807FFF;
}

.dminus-container {
    background-color: #C07FFF;
}

.f-container {
    background-color: #FF7FFE;
}

.sb-container {
    background-color: #dedede;
}
